<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <section class="header-top">
            <div class="top-box">
                <div class="banner">
                    <a href="/"><img src=\img\logo-mercado-liebre.svg alt="Mercado Libre"></a>
                </div>
                <div class="box-center">
                    <form class="searchbar" action="/" method="GET">
                        <input type="text" placeholder="Buscar productos, marcas y más" class="searchbar-field" name="search">
                        <button type="submit" class="searchbar-field"><i class="fas fa-search "></i></button>
                    </form>
                </div>
            </div>
            <div class="header-title">
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </section>
        <section class="menu">
            <div>
                <ul class="menubar menubar2">
                    <a href=""><li>Ofertas</li></a>
                    <a href=""><li>Tiendas Oficiales</li></a>
                    <a href=""><li>Vender</li></a>
                    <a href=""><li>Ayuda</li></a>
                </ul>
            </div>
            <div>
                <ul class="menubar menubar3">
                    <a href="/register"><li>Creá tu cuenta <i class="far fa-id-card"></i></li></a>
                    <a href="/login"><li>Ingresá <i class="fas fa-sign-in-alt"></i></li></a>
                    <a href=""><li>Mis compras <i class="fas fa-shopping-basket"></i></li></a>
                </ul>
            </div>
        </section>
        <div class= "box">
            <button class="fas fa-bars button"></button>
        </div>
    </header>
    <main>
        <h2 class="titular">Basado en tu última visita</h2>
        <section class="catalogo">
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product-text">
                    <i class="fas fa-truck icon icon2"></i>
                    <h2>$6.770</h2>
                    <h3>40% off</h3>
                    <p>Cafetera Moulinex</p>
                </div>
            </article>    
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro">
                <div class="product-text">
                    <i class="fas fa-truck icon icon2"></i>
                    <h2>$230.000</h2>
                    <h3>20% off</h3>
                    <p>MacBook Pro 2019</p>
                </div>
            </article>    
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <div class="product-text">
                    <i class="fas fa-truck icon icon2"></i>
                    <h2>$70.500</h2>
                    <h3>10% off</h3>
                    <p>Samsung Galaxy</p>
                </div>
            </article>    
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="product-text">
                    <i class="fas fa-truck icon icon2"></i>
                    <h2>$23.200</h2>
                    <h3>5% off</h3>
                    <p>SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <h2 class="titular">Sección de ofertas</h2>
        <section class="catalogo">
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product-text">
                    <i class="fas fa-truck icon icon2"></i>
                    <h2>$6.770</h2>
                    <h3>40% off</h3>
                    <p>Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro">
               <div class="product-text">
                   <i class="fas fa-truck icon icon2"></i>
                   <h2>$230.000</h2>
                    <h3>20% off</h3>
                    <p>MacBook Pro 2019</p>
               </div>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <div class="product-text">
                    <i class="fas fa-truck icon icon2"></i>
                    <h2>$70.500</h2>
                    <h3>10% off</h3>
                    <p>Samsung Galaxy</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer-items">
            <section>
                <i class="fas fa-credit-card icon"></i>
                <h3>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fas fa-gift icon"></i>
                <h3>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fas fa-user-shield icon"></i>
                <h3>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <section class="cr">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>