<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Registro de Usuario</title>
</head>
<body>
    <header>
        <section class="header-top">
            <div class="top-box">
                <div class="banner">
                    <a href="/"><img src=\img\logo-mercado-liebre.svg alt="Mercado Libre"></a>
                </div>
                <div class="box-center">
                    <form class="searchbar" action="/" method="GET">
                        <input type="text" placeholder="Buscar productos, marcas y más" class="searchbar-field" name="search">
                        <button type="submit" class="searchbar-field"><i class="fas fa-search "></i></button>
                    </form>
                </div>
            </div>
            <div class="header-title">
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </section>
        <section class="menu">
            <div>
                <ul class="menubar menubar2">
                    <a href=""><li>Ofertas</li></a>
                    <a href=""><li>Tiendas Oficiales</li></a>
                    <a href=""><li>Vender</li></a>
                    <a href=""><li>Ayuda</li></a>
                </ul>
            </div>
            <div>
                <ul class="menubar menubar3">
                    <a href="/register"><li>Creá tu cuenta <i class="far fa-id-card"></i></li></a>
                    <a href="/login"><li>Ingresá <i class="fas fa-sign-in-alt"></i></li></a>
                    <a href=""><li>Mis compras <i class="fas fa-shopping-basket"></i></li></a>
                </ul>
            </div>
        </section>
        <div class= "box">
            <button class="fas fa-bars button"></button>
        </div>
    </header>
    <main>
        <p class="titular">Completa tus datos</p>
        <form action="">
            <p class="subtitulo">Datos Personales</p>
            <div class="field">
                <input type="text" id="fullname" name="fullname" placeholder="Nombre y apellido" required minlength="4">
                <p class="field-err-msg">Error: 4 caracteres mínimo</p>
            </div>
            <div class="field">
                <input type="text" id="username" name="username" placeholder="Nombre de usuario" required minlength="4">
                <p class="field-err-msg">Error: 4 caracteres mínimo</p>
            </div>
            <div class="field">
                <input type="email" id="mail" name="mail" placeholder="E-mail">
                <p class="field-err-msg">Error: E-mail invalido</p>
            </div>
            <div class="field">
                <input type="text" id="address" name="address" placeholder="Domicilio" required minlength="4">    
                <p class="field-err-msg">Error: Direccion invalida (4 caracteres min.)</p>
            </div>
            <div class="field">
                <p class="subtitulo">Fecha de Nacimiento</p>
                <input type="date" id="birthDate" name="birthDate">
            </div>
            <p class="subtitulo">Perfil de usuario</p>
            <div class="usrProf">
                <div>
                    <input type="radio" id="comprador" name="userProfile" value="comprador" checked>
                    <label for="comprador">Comprador</label>
                </div>
                <div>
                    <input type="radio" id="vendedor" name="userProfile" value="vendedor">
                    <label for="userProfile">Vendedor</label>
                </div>
            </div>
            <p class="subtitulo">Intereses</p>
            <div class="column-checkbox">
                <div>
                    <input type="checkbox" id="electro" name="interests" value="electro" checked>
                    <label for="electro">Electro</label>
                </div>
                <div>
                    <input type="checkbox" id="fashion" name="interests" value="fashion">
                    <label for="fashion">Moda</label>
                </div>
                <div>
                    <input type="checkbox" id="homeLife" name="interests" value="homeLife">
                    <label for="homeLife">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" id="toys" name="interests" value="toys">
                    <label for="toys">Juguetes</label>
                </div>
                <div>
                    <input type="checkbox" id="health" name="interests" value="health">
                    <label for="health">Vida</label>
                </div>
            </div>
            <div class="field">
                <label class="subtitulo">Elija una foto de usuario</label>
                <input type="file" name="avatar" accept=".jpg .png">
            </div>
            <p class="subtitulo">Contraseña</p>
            <div class="field">
                <input type="password" id="passreg" name="passreg" placeholder="Contraseña" required minlength="6">
                <p class="field-err-msg">Error: Contraseña invalida (6 caracteres min.)</p>
            </div>
            </div>
            <div class="field">
                <input type="password" id="passregcon" name="passregcon" placeholder="Confirmar contraseña" required>
            </div>
            <div class="submit">
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
            </div>
        </form>
    </main>
    <footer>
        <div class="footer-items">
            <section>
                <i class="fas fa-credit-card icon"></i>
                <h3>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fas fa-gift icon"></i>
                <h3>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fas fa-user-shield icon"></i>
                <h3>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <section class="cr">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>